.app {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#427e60, #2a513e);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
  height: auto;
}

.actionButton {
  background: #0078d7;
  color: #fcfffc;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;
}

.actionButton:disabled,
.actionButton:disabled:hover {
  background: #cccccc;
  color: initial;
  cursor: not-allowed;
}

.actionButton:hover {
  cursor: pointer;
  background: #004680;
}

.menu {
  width: 100%;
  height: 100%;
  max-width: 320px;
  max-height: 320px;
  background: #fcfffc;
  color: #040f0f;
  border-radius: 0.5rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu--end {
  opacity: 0;
  animation-name: reveal;
  position: absolute;
  animation-delay: 0.5s;
  animation-duration: 0;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.menu h1 {
  margin: 0;
}

.menu nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.menu__errorMessage {
  color: red;
}

.playerHand {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.playerHand h1 {
  font-size: 1.75rem;
  margin: 0;
  color: #fcfffc;
  text-align: center;
}

.playerHand nav {
  max-width: 320px;
  padding: 1rem;
  background: #fcfffc;
  color: #040f0f;
  border-radius: 0.5rem;
  text-align: center;
  bottom: 0;
}

.playerHand figure {
  height: 50%;
  width: 100%;
  margin: 0;
  display: flex;
  align-content: center;
  justify-content: center;
}

.playerHand__drawCard {
  margin: auto 0;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.playerHand__drawCard:hover {
  outline: 5px solid #f4b942;
}

.actionButton:disabled,
.playerHand__drawCard:disabled:hover img {
  filter: none;
  cursor: not-allowed;
}

.playerHand__cardListContainer {
  display: flex;
  justify-content: center;
  height: 50%;
  width: 100%;
}

.playerHand__cardList {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes slide {
  from {
    position: relative;
    left: 50vw;
  }
  to {
    position: relative;
    left: 0;
  }
}

.playerHand__cardList,
li:last-of-type {
  animation-name: slide;
  animation-duration: 1s;
  animation-timing-function: ease;
}

.playerHand__cardList > * {
  position: absolute;
}

.playerHand__playerStats {
  display: flex;
  justify-content: center;
}
.playerHand__playerStats p {
  font-size: 1rem;
  margin: 0 1rem 1rem;
}
